*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text-title: #364fc7;
  --color-text-dark: #333;
  --color-text-light: #4f4f4f;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
